@page
@{}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Inventory</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">Product Inventory </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <button class="btn btn-outline-warning" data-toggle="modal" data-target="#add">Add Item</button>
                    </li>
                  
                </ul>
                
            </div>
        </nav>


        <div class="container" id="items">
           
            
        </div>
    </div>







    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var uri = 'api/Items';

        $(document).ready(function () {
            // Gets all items
            $.getJSON(uri)
                .done(function (data) {

                    $("#itemTemp").tmpl(data).appendTo("#items");
                });
        });



        function getAllItems() {

               $.getJSON(uri)
                   .done(function (data) {

                       $("#items").text("");

                    $("#itemTemp").tmpl(data).appendTo("#items");
                });

        }

        function add() {
            var _name = $('#name').val();
            var _price = parseFloat($('#price').val());
            var _quantity = parseInt($('#quantity').val());
          
           


            var item = {
                name:  _name,
                price :_price,
                quantity:  _quantity
               
           
            };

            $.ajax({
                type: "POST",
                url: uri,
                data: JSON.stringify(item),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#result").html("Item Added");
                getAllItems();
            }).fail(function (jqXHR, textStatus) {
                          $("#result").html("Failed.");
               });




        }





        function update() {
           var _name = $('#item_name').val();
      
            var _price =  parseFloat($('#item_price').val());
            var _quantity =  parseInt($('#item_quantity').val());
         
          


            
            var item = {
                id:  parseInt($('#item_id').val()),
                name :  _name,
                price :_price,
                quantity:  _quantity
               
           
            };

            $.ajax({
                type: "PUT",
                url: uri+"/"+ $('#item_id').val(),
                data: JSON.stringify(item),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#resultUpdate").html("Updated item");
                getAllItems();
            }).fail(function (jqXHR, textStatus) {
                          $("#resultUpdate").html("Failed");
               });;




        }



        function remove(id) {


          var yes =  confirm("delete this item?");

            if (yes) {
                $.ajax({
                    type: "DELETE",
                    url: uri + "/" + id,

                }).done(function (response) {

                    getAllItems();
                });

            }


        }


         


        function view(id) {

             $.ajax({
                type: "GET",
                url: uri+"/"+id,
               contentType: "application/json"
             }).done(function (response) {

                  $('#item_id').val(response.id);
                 $('#item_name').val(response.name) ;
                 $('#item_price').val(response.price);
                 $('#item_quantity').val(response.quantity);
                

              


            });


        }
    </script>

    

    <script id="itemTemp" type="text/x-jquery-tmpl">


        <div class="card text-white bg-success mb-3" >
            <div class="card-header">${itemCode}</div>
            <div class="card-body">
                <h5 class="card-title">${name}</h5>
                <p class="card-text">Price: ${price}</p>
                <p class="card-text">Quantity: ${quantity}</p>
            </div>
            <button class="btn btn-dark" onclick="view('${id}')" data-toggle="modal" data-target="#update">Update</button>
            <a href="#" class="btn btn-danger" onclick="remove('${id}')">Delete</a>
        </div>


        


    </script>



    <div class="modal" tabindex="-1" role="dialog" id="add">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Add</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" >

                        </div>
                        <div class="form-group">
                            <label for="model">Price</label>
                            <input type="number" class="form-control" id="price" >

                        </div>
                        <div class="form-group">
                            <label for="model">Quantity</label>
                            <input type="number" class="form-control" id="quantity" >

                        </div>
                       

                        <div class="form-group" id="result">


                        </div>
                        <button type="button" onclick="add()" class="btn btn-primary">Add Item</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>




    <div class="modal" tabindex="-1" role="dialog" id="update">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form-group">

                            <input type="hidden" class="form-control" id="item_id" aria-describedby="emailHelp">

                        </div>
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="item_name">

                        </div>
                        <div class="form-group">
                            <label for="model">Price</label>
                            <input type="number" class="form-control" id="item_price">

                        </div>
                        <div class="form-group">
                            <label for="model">Quantity</label>
                            <input type="number" class="form-control" id="item_quantity">

                        </div>

                        <div class="form-group" id="resultUpdate">


                        </div>
                        <button type="button" onclick="update()" class="btn btn-primary">Update Item</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</body>
</html>